{{define "footer"}}
    <div class="row">
        <div class="col-xs-6 col-xs-offset-6">
            <a href="https://github.com/arteev/invstick">GitHub</a>
        </div>
    </div>

    </body>
</html>

{{end}}