<html>
    <head>
        <meta charset="UTF-8">
    </head>
    <body>
            <style type="text/css">
                @media print {
                    .hideprint{
                         display:none;
                    }
                    .borderdot{
                        border: 0px;
                    }                    
                }
                @media screen {
                    .borderdot{
                        border: 1px dotted black;
                    }
                }
                .pager {
                       margin-top:5px;
                       margin-left:1.0cm; 
                }

                .stick {
                    vertical-align:top;
                    margin-top:4px;
                    margin-left:4px;                                                                                                   
                }
                .stickhide {
                    display:none;
                }
                .stick-text {
                    font-style: normal;
                    font-size: 24px;
                    font-weight: bold;
                    text-align:right;
                    vertical-align:top;     
                    margin-right:12px;       
                                                                                
                }
                .stick-company{
                    font-size: 9px;                    
                }
                .qrcode {
                    
                    position:absolute;
                    
                }

                .stick-w {
                    width: 3.8cm;  
                    
                    vertical-align:top;
                }
                .stick-h {
                    height: 2.12cm;
                }
                .table-stick {
                    width: 19cm; 
                    border-collapse: collapse;
                    margin-top:1.07cm;
                    margin-left:1.0cm;
                    margin-right:1.0cm;
                }
                
            </style>        
            {{$ldata:=len .}}
            {{$data:=.}}
            {{$inpage:=65}}
            {{$startxy:=  ((top |add -1) | mul 5) | add (left | add -1)  }}            
            {{$pages:= mkSliceRange 1 (calcpages $inpage (add $startxy (len .)))}}            
            {{range $page := $pages }}            
           
            <table  class="borderdot table-stick">
            <tbody>                
                {{range $x := mkSliceRange 0 13}}
                    <tr class="stick-h">                    
                    {{range $y:= mkSliceRange 0 5 }}                            
                         {{$idx :=  add (mul $inpage (add $page -1))  (add $y (mul $x 5)) }}                                                                                                               
                         <td class="borderdot stick-w">                              
                             <div class="stick">  
                                  {{if ge $idx $startxy}}
                                     {{ $idx := add $idx (mul -1 $startxy)}}                                                

                                            {{if lt $idx $ldata}}                                                    
                                                {{with $item := index $data $idx}}
                                                    {{if $item.QRCode}}
                                                    <img class="qrcode" src="{{$item.QRCode}}" /> 
                                                    {{end}}
                                                    
                                                    <div class="stick-text"> 
                                                        <span class="stick-company">АО "Фармация"</span>
                                                        <div>{{$item.Num}}</div> 
                                                    </div>                                
                                                {{end}}
                                            {{end}}


                                {{end}}
                             </div>                                        
                         </td>                           

                    {{end}}                    
                    </tr>
                {{end}}                        
            </tbody>           
            </table>
            <span class="hideprint pager">Page {{.}}/{{len $pages}}</span>
            <div style="page-break-after: always;"></div>                             
            {{end}}         
    </body>
</html>