<html>
    <body>
        
            
            {{range .}}
                <span>Номер: S{{.Num}}</span>
                <img src="{{.QRCode}}"></img>  <br />
                <br />
            {{end}}
         
    </body>
</html>